.projects{
z-index: 100;
position: relative;
}
.slick{
  border-radius: 25px;
}
.card{
  border-radius: 25px;
}
.media-overlay {
  height: 40vh;
  overflow: hidden;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.projects .slick-arrow {
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.01)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01));
  width: 9rem;
  border-radius: 20px;
}
.slick-arrow.slick-prev {
  top: 50%;
  left: 2% !important;
  z-index: 99999;
}
.slick-arrow.slick-next {
  right: 2%;
  z-index: 99999;
  top: 50%;
}
.card-body h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.03em;
}
.card-body{
  border-radius:0 0 25px 25px;
}
.card-body p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;

}
.slick-slide .card-body {
  background: var(--bg);
  color: var(--headTxt) !important;
}
.slick-slide.slick-active.slick-current .card-body {
  background: var(--textblue);
  color: white !important;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.slick-slide.slick-active.slick-current .project-card {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.slick-slide .project-card {
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}