.services{

  overflow: hidden;
}
.card-overlay {
  background: var(--cardsBg);
  box-shadow: 28px 28px 50px 2px rgba(0, 39, 80, 0.16);
  border-radius: 32px;
  min-height: 15vh;
  color: var(--violet);
  position: relative;
  z-index: 3 !important;
}

.big-rect .card-overlay {
  height: 100%;
}
.card-overlay .services-icon {
  font-size: 2rem;

}
.card-overlay .services-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  
}
.big-rect .card-overlay .services-icon {
  font-size: 8rem;
  height: 65%;
  max-height: 80%;

  overflow: hidden;
  border-bottom: 5px solid var(--bg);
  
}
.big-rect .card-overlay .services-icon img{
  object-fit: cover;
}
.big-info{
  height: 20%;
}
.big-rect .card-overlay .services-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--textblue);
}
.big-rect .card-overlay .services-paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: var(--headTxt);
  opacity: 0.5;
}
.small-rects .card-overlay.active {
  background: var(--textblue);
  box-shadow: 48px 38px 24px rgba(0, 0, 0, 0.01),
    27px 21px 21px rgba(0, 0, 0, 0.05), 12px 10px 15px rgba(0, 0, 0, 0.09),
    3px 2px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.small-rects .card-overlay:hover {
  background: #a9a2ba;
  box-shadow: 48px 38px 24px rgba(0, 0, 0, 0.01),
    27px 21px 21px rgba(0, 0, 0, 0.05), 12px 10px 15px rgba(0, 0, 0, 0.09),
    3px 2px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.big-rect .card-overlay {
  transition: all 0.5s ease;
  
}

/* Responsive home */
/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap */

/*/ Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .card-overlay {
    height: 75vh;
  }
  .card-overlay .services-head {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
  }
  .card-overlay {
    height: 8vh;
  }
  .big-rect .card-overlay .services-icon {
    font-size: 4rem;
  }
  .big-rect .card-overlay .services-head {
    font-size: 16px;
  }
  .big-rect .card-overlay .services-paragraph {
    font-size: 12px;
  }
}
/*/ Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-overlay {
    height: 5vh;
  }
}
