.home {
  position: relative;
  height: 80vh;
  overflow: hidden;
  z-index: 1;
}
.home-left  {
  position: relative;
  z-index: 1;
}

.home-left h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  
  color: var(--secondTxt);
  color: white;

}
.home-left h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  color: var(--violet);
  color: white;

}
.home-left p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondTxt);
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
  color: white;
}

.small-thunders {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 80vh;
}
.small-thunders svg {
  width: 100%;
  height: 70vh;
  opacity: 0.5;
  -webkit-animation: fade 5s infinite ease-in-out;
          animation: fade 5s infinite ease-in-out;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fade {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.home-card {
  position: absolute;
  opacity: 0.85;
  bottom: 70%;
  left: -70%;
  width: 250px;
  padding: 20px 12px;
  background: var(--cardsBg);
  -webkit-box-shadow: 28px 28px 50px 2px rgba(0, 39, 80, 0.12);
          box-shadow: 28px 28px 50px 2px rgba(0, 39, 80, 0.12);
  -webkit-backdrop-filter: blur(90px);
          backdrop-filter: blur(90px);
  border-radius: 24px;
  z-index: 2;
  opacity: 0.7;
}
.home-card:hover {
  background: var(--cardsBg);
  -webkit-box-shadow: 28px 28px 50px 2px rgba(0, 39, 80, 0.3);
          box-shadow: 28px 28px 50px 2px rgba(0, 39, 80, 0.3);
  -webkit-backdrop-filter: blur(90px);
          backdrop-filter: blur(90px);
  -webkit-transition: all 0.54s linear;
  -o-transition: all 0.54s linear;
  transition: all 0.54s linear;
  opacity: 1;

}
.home-card:nth-child(1) {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--secondTxt);
}
.home-img-overlay {
  width: 80%;
  position: relative;
  overflow:hidden ;
  z-index: 0;
}


/* Responsive home */
/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap */

/*/ Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .home{
    margin-top: 80px;
  }
  .home-card{
    display: none !important;
  }
  .home-left h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-img-overlay {
    width: 100%;
  }
  .home-left h1 {
    font-size: 32px;
    line-height: 58px;
    color: var(--violet);
  }
  .home-left p {
    font-size: 14px;
    line-height: 18px;
  }
  .big-thunder svg {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .big-thunder svg {
    width: 100%;
  }
  .home-card {
    bottom: 15%;
    left: -80px;
    width: 200px;
  }
  .home-left h3 {
    font-size: 22px;
    line-height: 38px;
  }
  .home-left h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 84px;
    color: var(--violet);
  }
  .home-left p {
    font-size: 14px;
    line-height: 24px;
  }
  .home-card {
    bottom: 100%;
    left: -40%;
    width: 200px;
    border-radius: 18px;
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);

  }
}

/*/ Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-img-overlay  {
    width: 100%;
  }

  .home-card {
    bottom: 16%;
    left: -40%;
    width: 200px;
    border-radius: 18px;

  }

}