.home {
  position: relative;
  height: 80vh;
  overflow: hidden;
  z-index: 1;
}
.home-left  {
  position: relative;
  z-index: 1;
}
.home-left::after{
  position: absolute;
  top: 50%;
  left: 40%;
  content: " ";
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%) rotate(180deg);
  background:linear-gradient(45deg,red,rgb(13, 13, 180));
  opacity: 0.6;
  z-index: -1;
  border-radius: 48% 52% 70% 30% / 51% 49% 51% 49% ;
}
.home-left h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: var(--secondTxt);
}
.home-left h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  color: var(--violet);
}
.home-left p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--secondTxt);
  filter: opacity(0.4);
}

.small-thunders {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 80vh;
}
.small-thunders svg {
  width: 100%;
  height: 70vh;
  opacity: 0.5;
  animation: fade 5s infinite ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.01);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
.home-card {
  position: absolute;
  opacity: 0.85;
  bottom: 70%;
  left: -70%;
  width: 250px;
  padding: 20px 12px;
  background: var(--cardsBg);
  box-shadow: 28px 28px 50px 2px rgba(0, 39, 80, 0.12);
  backdrop-filter: blur(90px);
  border-radius: 24px;
  z-index: 2;
  opacity: 0.7;
}
.home-card:hover {
  background: var(--cardsBg);
  box-shadow: 28px 28px 50px 2px rgba(0, 39, 80, 0.3);
  backdrop-filter: blur(90px);
  transition: all 0.54s linear;
  opacity: 1;

}
.home-card:nth-child(1) {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--secondTxt);
}
.home-img-overlay {
  width: 80%;
  position: relative;
  overflow:hidden ;
  z-index: 0;
}


/* Responsive home */
/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap */

/*/ Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .home{
    margin-top: 80px;
  }
  .home-card{
    display: none !important;
  }
  .home-left h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-img-overlay {
    width: 100%;
  }
  .home-left h1 {
    font-size: 32px;
    line-height: 58px;
    color: var(--violet);
  }
  .home-left p {
    font-size: 14px;
    line-height: 18px;
  }
  .big-thunder svg {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .big-thunder svg {
    width: 100%;
  }
  .home-card {
    bottom: 15%;
    left: -80px;
    width: 200px;
  }
  .home-left h3 {
    font-size: 22px;
    line-height: 38px;
  }
  .home-left h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 84px;
    color: var(--violet);
  }
  .home-left p {
    font-size: 14px;
    line-height: 24px;
  }
  .home-card {
    bottom: 100%;
    left: -40%;
    width: 200px;
    border-radius: 18px;
    transform: scale(0.75);

  }
}

/*/ Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-img-overlay  {
    width: 100%;
  }

  .home-card {
    bottom: 16%;
    left: -40%;
    width: 200px;
    border-radius: 18px;

  }

}
