.listLinks {
  background: var(--whiteTxt);
  -webkit-box-shadow: 7px 5px 15px var(--shadow1), inset -20px -20px 32px var(--shadow2);
          box-shadow: 7px 5px 15px var(--shadow1), inset -20px -20px 32px var(--shadow2);
  border-radius: 8px;
}
.nav-button {
  background: var(--violet);
  color: var(--FFF) !important;
}
.nav-button a{
  text-decoration: none;
  text-transform: capitalize;
}
.navbar-brand span {
  color: var(--FFF);
}
.nav-btn-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  padding: 5px 0;
}
nav .dropdown-menu {
  position: absolute !important;
  z-index: 999;
}
.listLinks:hover {
  color: var(--FFF) !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 7px 5px 15px var(--shadow1), inset -20px -20px 32px var(--shadow2);
          box-shadow: 7px 5px 15px var(--shadow1), inset -20px -20px 32px var(--shadow2);
}
.nav-button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.listLinks li {
  text-transform: capitalize;
}
.listLinks li a {
  color: var(--secondTxt) !important;
  font-weight: 400;
}
.listLinks li:hover a {
  text-transform: capitalize;
  color: var(--violet) !important;
  font-weight: 500;
}
.listLinks li a.active {
  color: var(--textblue) !important;
  font-weight: 500;
}
.listLinks li a:active {
  color: var(--violet) !important;
  font-weight: 500;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* Responsive navbar */
/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap */


/*/ Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nav div.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}



/*/ X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  nav div.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
