.listLinks{    
    background: #EEEEEE;
    box-shadow: 7px 5px 15px rgba(13, 39, 80, 0.16), inset -20px -20px 32px rgba(255, 255, 255, 0.64);   
    border-radius: 8px;
}
.nav-button{
background: #4B4190;
color: var(--lightTxt) !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -23px -23px 45px #FFFFFF;
}
.nav-btn-list{
    flex-direction: row;
    justify-content: center;
    border-radius: 6px;
    padding: 5px 0;
}
nav .dropdown-menu{
    position: absolute !important;
    z-index: 999;
}
.listLinks:hover{    
    background: #EEEEEE;
    transition: all 0.5s ease-in-out;
    box-shadow: 13px 10px 30px rgba(13, 39, 80, 0.16), inset -31px -31px 43px rgba(255, 255, 255, 0.64);    border-radius: 8px;
}
.nav-button:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), -13px -13px 25px #FFFFFF;
    transition: all 0.5s ease-in-out;
}
.listLinks li{
    text-transform: capitalize;

}
.listLinks li a{
    color: #4c419093 !important;
}
.listLinks li:hover a{
    text-transform: capitalize;
    color: #4B4190 !important;
    font-weight: 500;

}
.listLinks li a.active{    
    color: #4B4190 !important;
    font-weight: 500;

}
/* Responsive navbar */
/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap */

/*/ Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/*/ Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav div.container{
        flex-direction: column;
    }
 }

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    nav div.container{
        flex-direction: row;
    }
 }

/*/ X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*/ XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }