.modal{
display: block;
z-index: 999999;
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.762),rgba(0, 0, 0, 0.876));

}

.modal .modal-dialog{
    min-width: 70vw !important;
    height: 80vh;
}
.modal .modal-content{
    width: 100%;
    height: 80vh;
}
.modal#addNewProject{

}