:root{
    --bg:#F0F0F1;
    --violet:#4B4190;
    --lighviolet:#3F377A;
    --orange:#F15C4a ;
    --headTxt:rgba(0,0,0,0.9);
    --secondTxt:rgba(0,0,0,0.5);
    --whiteTxt:#FFFFFF;
    --lightTxt:rgba(250,250,250,0.6);
}
body{
    background-color: var(--bg);
}
.head-section{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    color: var(--lighviolet);
}