:root .light {
  --bg: #dbdbde;
  --violet: #4b4190;
  --lighviolet: #3f377a;
  --orange: #f15c4a;
  --headTxt: rgba(0, 0, 0, 0.9);
  --secondTxt: rgba(4, 2, 32, 0.808);
  --whiteTxt: #ffffff;
  --FFF: #ffffff;
  --cardsBg: #f4f4f4;
  --lightTxt: rgba(250, 250, 250, 0.6);
  --textblue: #270085;
  --bgoverlay: rgba(255, 255, 255, 0.85);
  /*  */
  --shadow1: rgba(13, 39, 80, 0.16);
  --shadow2: rgba(255, 255, 255, 0.64);
  --opacity: 1;
}
:root .dark {
  --bg: #0d0834;
  --violet: #bcb2ff;
  --cardsBg: #3f377a;
  --FFF: #ffffff57;
  --opacity: 0.5;
  --textblue: #270085;
  --lighviolet: #3f377a;
  --orange: #f15c4a;
  --headTxt: rgba(250, 250, 250, 0.9);
  --secondTxt: rgba(250, 250, 250, 0.5);
  --whiteTxt: #4c3acf;
  --lightTxt: rgba(250, 250, 250, 0.6);
  --bgoverlay: rgba(11, 9, 41, 0.85);
  /*  shadows */
  --shadow1: #4e00b46c;
  --shadow2: #4e00b4cc;
}

.head-section {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  color: var(--lighviolet);
}