.sponsors{
    background:#a2a2a221;
}
.sponsor-logo{
    filter: brightness(0.9) contrast(0.5);
}
.sponsor-logo:hover{
    filter: brightness(1) contrast(1) drop-shadow(0px 0px 2px #00000038 );
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}
